@font-face {
  font-family: 'Tovari Sans';
  src: url('./assets/fonts/TovariSans.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Lastwaerk';
  src: url('./assets/fonts/Lastwaerk regular.ttf');
}

body, #app, #main-page {
  overflow: hidden;
}

#main-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.content {
  background-color: aqua;
  transition: 0.5s;
  flex-grow: 1;
  width: 0px;
  display: flex;
  flex-direction: column;

  > div {
    height: 100vh;
    position: relative;
    transition: 1s;
  }
}